p{
  margin: 0px;
  font-family: Roboto,Arial;
}

.thumbnail-div{
  width: 100%;
}

.thumbnail{
  width: 100%;  
  cursor: pointer;
}

.video-time{
  position: relative;
}

.time{
  position: absolute;
  bottom: 10px;
  right: 5px;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto,Arial;
  padding:3px 5px;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  background-color: white;
  column-gap: 16px;
  row-gap: 40px;
  flex-shrink: 0;
  background-color: rgb(247, 247, 247);
  padding-right: 25px;
}

@media(min-width:1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width : 1200px){
  .video-grid{
    grid-template-columns: repeat(4,1fr);
  }
}



.hole-video{
  width: 100%;
}

.video-previw{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 9px;
}


.profile-img{
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
}

.video-info{
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
  width: 180px;
  line-height: 22px;
  cursor: pointer;
}

.video-author{
  cursor: pointer;
}

.video-author,
.video-numbers
{
  font-size: 12px;
  color: rgb(139, 138, 138);
  line-height: 19px;
}


