p {
  font-family: roboto;
  margin-top: 0;
  margin-bottom: 0;
}

.video-Title {
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  line-height: 24px;
  margin-bottom: 6px;
}

.video-status {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.video-author {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 25px;
}

.video-describtion {
  color: rgb(96, 96, 96);
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 100px;
}

.text {
  color: white;
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  text-align: center;
  padding: 18px 18px;
  margin-bottom: 100px;
}

.span-ex {
  cursor: pointer;
}

.span-ex:hover {
  text-decoration: underline;
}
