.object{
  border-width: 2px;
  border-color: rgb(96 ,96,96);
  margin-top: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15) ;
  padding-bottom: 10px;
}

.div1{
  width: 100%;
}

.big-picture{
  width: 100%;
  height: 100px;
  /* display: block; */
  object-fit: cover;
  height: 100px;
}

.name{
  font-family: Arial;
  font-size: 16px;
  font-weight: bolder;
  /* margin-top: 6px; */
  margin-bottom: 4px;
  margin-left: 5px;
}

p{
  margin: 0px ;
}

.small-picture{
  border-radius: 100px;
  width: 35px;
  height: 33px;
  margin-bottom: 5px;
  margin-left: 5px;
  object-fit: cover;
}

.friends-num{
  color: rgb(96 ,96,96);
  font-size: 14px;
}

.button{
  background-color: rgb(51, 123, 232);
  border: none;
  padding: 7px 11px;
  border-radius: 4px;
  color: white;
  margin-left: 5px;
  transition: opacity 0.15s;
}

.button:active{
  opacity: 0.8;
}




















